[2015-09-18 18:18] wmertens opened #2 "Project state? Serialization of db?"
I am looking for a way to have a mongodb api without having to maintain a mongodb server, like for developing or for small apps.

It would be acceptable to write the entire db to a file every so often and to read the file into memory at startup.

Is that possible?

Is this project complete enough that it could be a pretend mongodb for mongoose?

[2015-09-24 23:05] williamkapke commented on #2
This is intended for quick & dirty (pretend) mongodb. It is currently used internally at a large company (that I cannot mention) for running tests.

It WILL write to disk (when a write operation happens) if you set `MongoClient.persist="mongo.js";`

I wouldn't count on it working with Mongoose. My guess is that Mongoose would call methods that this module hasn't simulated yet. But please- TRY IT a

[2015-09-24 23:06] #2 closed

[2016-01-25 13:23] d-theo opened #4 "collection.find() is returning the wrong type"
Hi,
I'm trying to mock with mongo-mock but the collection.find() method is returning me an array of object instead of a cursor like mongo (using mongodb package 2.0.49)

[2016-01-25 22:35] #4 closed

[2016-01-25 22:39] williamkapke commented on #4
Thanks for pointing that out. I've been meaning to get this updated with Promises anyhow- so I rolled it all in. Try it out- hope it works for you. Let me know!

[2016-01-26 07:34] d-theo commented on #4
thanks for your reactivity, it's working like a charm
I'll keep following the lib :)

[2016-08-18 07:02] vincentleekp opened #7 "MongoClient.connect failed to return db for non-callback."
for mongdodb, MongoClient allow to call the connection "MongoClient.connect(url)" without callback function provided. This mock have issue for this scenario.

Found is missing 'return' for below code:
lib/mongo_client.js line 22
**return** new Db(dbname, server).open(callback);

[2016-08-29 12:42] vincentleekp commented on #7
Any update?

[2016-08-31 06:31] williamkapke commented on #7
Sorry- I was traveling :(

It looks like the callback is required:
https://mongodb.github.io/node-mongodb-native/api-generated/mongoclient.html#MongoClient.connect

Maybe I am misunderstanding?

[2016-09-08 05:03] mysticatea commented on #7
http://mongodb.github.io/node-mongodb-native/2.2/api/MongoClient.html
http://mongodb.github.io/node-mongodb-native/2.2/api/lib_mongo_client.js.html#line88

If `callback` is omitted, it returns a `Promise`.

[2016-09-08 05:08] williamkapke commented on #7
Oh- right, yes in v2+ it returns a Promise. Now I understand what the issue is all about! :)

Any interest in submitting a PR? I'm traveling around Europe for Node conferences and I don't know that I'll get to this very fast :/

[2016-09-08 05:53] mysticatea commented on #7
I'm sorry, I don't have enough time for this issue (my OSSs and eslint have higher priority in my time).

[2016-09-15 13:01] BenoitAverty opened #8 "Provide a simple API to insert test data into the fake DB"
When using mongo-mock inside unit tests for example, it's a bit tedious to use the mongodb api to insert data (MongoClient.connect, with callback hell and everything else).

It would be great to have a simple, synchronous API to insert test data and clear everything.

Here's an example of what I have in mind:

[code]

I don't know if it's possible in your library, but that would make writing test

[2016-10-14 06:42] mnmtanish commented on #7
Any updates? I've opened a pull request (#9) with the change mentioned above. Please let me know if there's anything else.

[2016-10-17 18:14] #7 closed

[2016-12-07 22:04] gyowanny commented on #8
I agree with BenoitAverty that it would be nice to have such features, specially to truncate collections.

[2016-12-13 02:25] aurium opened #11 "Implement cursor.sort()"
Implement [cursor.sort()](https://docs.mongodb.com/v3.2/reference/method/cursor.sort/#cursor.sort) to allow `db.bios.find().sort( { name: 1 } )`

[2017-02-06 16:49] snytkine opened #12 "Cannot make MongoClient.load to work"
Is there any example how to use MongoClient.load to load mock data from file?

I was trying this way but could not get it to work, the .findOne method was still returning null after the data was loaded from file.
The contents of users.js was created when I use MongoClient.persist = "users.js"
so it has all the correct data.

If I'm not use the .load method correctly then please let me know how to

[2017-02-06 17:01] snytkine commented on #12
Never mind, I solved it. The .load is an async function so must wait for loading to finish before using the rest of the code.

In case anyone is interested how I solved it, here is the working code:

[code]

[2017-02-06 17:58] williamkapke commented on #12
Ah yes. Glad you got it. I guess `load` should return a Promise huh?

PR welcome if you're up for it!

[2017-02-17 20:23] williamkapke commented on #8
You can call `.toJSON()` to get access to the underlying `state` object. From there you can do anything to the `documents` array (or any of the state info) that you want. But be aware that you're bypassing any conflict checks! (like a primary key)

[code]

[2017-02-18 21:55] danosaure opened #14 "MongoClient.connect() doesn't exist like mongodb's one"
Hi,

I have noticed the following issue. When the connection is not closed, the script never exits. I am not arguing that I should not have a `finally`, just that I did not expect this difference.

Thanks,

[code]

[2017-03-06 04:49] williamkapke commented on #11
Done via #18

[2017-03-06 04:49] #11 closed

[2017-03-14 20:48] shaunburdick commented on #14
If I'm reading this right, it looks like your `mongodb-connect.js` isn't connecting to the dummy-host (assuming that's expected by the name)
`mongo-mock` simulates a connection to a mongodb instance so it assumes the connection url is a valid db and pretends to be connected to it.

[2017-03-16 01:22] williamkapke opened #22 "deleteOne and deleteMany could use some tests"
Leaving this here for a TODO.

[2017-03-17 01:16] danosaure commented on #14
That is not what I am mentioning here. I'm saying that, unless I have `db.close()`, the script never ends, unlike with the real `mongodb` library. As you can see above, I do not need to `^C` for the `node mongodb-connect.js` to exit.

[2017-03-17 11:40] shaunburdick commented on #14
Right but `mongodb-connect.js` isn't actually connecting to a database. It's failing and you're not catching the promise rejection. `mongo-mock-connect.js` will always "connect" and you must close the connection before exiting your application.

[2017-03-17 22:41] danosaure commented on #14
I'm sorry, I'm trying to point out a difference, and all you are trying to do is divert the discussion. If I did not catch the rejection as you suggest, should it break? Anyways, I don't feel like you are understanding what I am saying.

[2017-03-17 22:41] #14 closed

[2017-05-05 17:46] bobby-brennan opened #26 "Subdocument updates?"
Hi, thanks for creating this.

I'm having some trouble updating fields in nested documents - for example:

[code]

Here's an [SO thread](http://stackoverflow.com/questions/19603542/mongodb-update-data-in-nested-field) describing the type of query I'm talking about.

Is this functionality not implemented?

[2017-05-09 17:45] williamkapke commented on #26
Ah yes- that wasn't added. It doesn't seem too terrible to do: iterate all the keys looking for the ones with dots in them and then expand them

[2017-06-12 17:05] ChrisCinelli commented on #8
I think that you should have an efficient `loadFixture(collection, file, opt)` function.

[2017-06-15 14:58] htbkoo opened #27 "Documents cleanup between test cases"
Hi, thanks a lot for creating this package! It is really useful for unit tests or for doing some quick hacks.

However I would like to ask if there is an API to clean up the in-memory database/documents between few test cases in one test suite (apologies but seems this is not mentioned in the readme or in other issues)?

Or should I call the remove() to clean up?

Thank you. :)

[2017-06-15 15:40] williamkapke commented on #27
Check out this comment:
https://github.com/williamkapke/mongo-mock/issues/8#issuecomment-280756829

... will that work for you?

[2017-06-17 16:37] htbkoo commented on #27
Sorry I was busy yesterday and had no time to test it out.
But yes I think it works for truncating - do you want me to create a pull request for adding a small section for this in the read me?

Anyway, thanks! :)

[2017-06-17 16:37] #27 closed

[2017-06-17 16:59] williamkapke commented on #27
yeah! That'd be great!

[2017-07-13 22:28] javiercbk commented on #2
I've tested a simple insertion and query using mongoose and it worked, a nasty hack is required

[code]

And this is my working test

[code]

[2017-07-19 13:43] chrishalbert opened #29 "Global leak on retVal."
Found this while running tests in mocha.

[2017-07-19 13:47] chrishalbert commented on #29
https://github.com/williamkapke/mongo-mock/pull/30

[2017-07-19 16:51] williamkapke commented on #29
Merged. Published. Thanks! 😎

[2017-07-19 16:51] #29 closed

[2017-07-20 17:16] dyst5422 opened #31 "Typescript Typedefs"
Would be worth adding typescript definitions to DefinitelyTyped.

Should be easy enough to take the MongoDB typings and simply cut out the parts that aren't implemented for mongo-mock.

[2017-07-21 12:50] chrishalbert commented on #22
Here you are sir: https://github.com/williamkapke/mongo-mock/pull/32

[2017-07-21 12:51] chrishalbert commented on #29
:+1: No no, ty for this library!

[2017-07-21 18:17] williamkapke commented on #22
Sweet! Thanks again!

[2017-07-21 18:17] #22 closed

[2017-07-23 12:25] chrishalbert commented on #26
I believe this is functioning as expected. Let me know if I missed anything :)

https://github.com/williamkapke/mongo-mock/pull/33

[2017-10-10 14:51] dcharbonnier opened #35 "project is not implemented"
`let res = await this.connection.find().project({ _id: 0}).toArray();`
does not work, the deprecated method
`let res = await this.connection.find({},{ _id: -1}).toArray();`
does

[2017-11-10 21:23] ksmithut opened #38 "Mongoose mocking"
Love this project, ran into a hiccup. I thought that since mongoose uses mongodb for its driver, I could mock mongoose with it, but there are some incompatibilities because the default (latest) mongo driver exposes much more than this one does. [Example](https://github.com/mongodb/node-mongodb-native/blob/2.2/index.js#L12-L44). Mongoose is expecting the Collection class to be available.

I underst

[2017-11-13 18:46] williamkapke commented on #38
I know there are SOME folks out there doing it- but I don't know the details/success.

Did you checkout #2?

[2017-11-13 20:11] ksmithut commented on #38
I'll take a look and attempt to reproduce. We handle our models a little bit differently, so it'll probably end up being a little bit of a different hacky solution. I'm sure I could get it to work, but it's not something I'd want to maintain long-term. If I find something, I'll post here, or on #2, if I do end up getting something to work

[2017-12-11 12:48] daru23 opened #41 "db: [Function: NotImplemented]"
Is anybody working in this implementation?

I use it i my project because it constantly switch from a database to another, and is impossible to test.

Thanks in avance.

[2017-12-12 06:10] #12 closed

[2018-01-09 20:35] #41 closed

[2018-01-09 20:55] #35 closed

[2018-01-11 05:38] benjamine opened #45 "support for $unset"
I noticed `$unset` operator is not supported, making it impossible to delete keys from an object.
it should be pretty straightforward to add around:

https://github.com/williamkapke/mongo-mock/blob/648f55e9f89ab23509f3376bf2f5ff68495b4492/lib/collection.js#L483

perhaps this repo could rely on a lib like https://www.npmjs.com/package/modifyjs for doing each `updateOne`, getting a lot of mongo upda

[2018-01-12 19:37] williamkapke commented on #45
This seems like a pretty good suggestion! Although, I'd remove the existing commands we have if they're in modifyjs.

It supports:
- $min
- $max
- $inc
- $set / $setOnInsert
- $unset
- $push + $each, $slice, $sort, $position
- $pushAll
- $addToSet
- $pop
- $pullAll
- $rename

We have:
- $set / $setOnInsert
- $inc
- $addToSet
- $push + $each $slice

Seems like there is just 1 problem: It doesn't ha

[2018-01-13 03:54] lgandecki commented on #45
Hey, good catch - added the license!
Interesting project - could you tell a bit more why have you decided to build this, instead of rely on something like tingodb? I personally use in-memory mongo replacements a lot - mainly for testing.. I admit - there ARE some disadvantages of using tingodb - so I might actually want to contribute to this at some point, but would love to hear your reasons :)

L

[2018-01-13 09:19] lgandecki commented on #45
btw, this is exactly how rxdb is using modifyjs, to keep this concern out of it's codebase:
https://github.com/pubkey/rxdb/blob/master/src/plugins/update.js#L3

[2018-01-13 19:08] benjamine commented on #45
amazing! thanks @lgandecki

[2018-01-15 08:08] williamkapke commented on #45
Excellent @lgandecki! Thanks for adding it. Don't forget to update your [package.json](https://github.com/lgandecki/modifyjs/blob/master/package.json#L23)!

To answer your questions: I started this project when I was working for Tinder. We needed something super lightweight with little/no dependencies. It was used while running tests & some devs wanted to be able to work offline/airplane mode. Spe

[2018-01-22 09:48] IhostVlad opened #46 "Bug: update after upsert does not work"
If some document had been inserted into collection by upsert method (update with upsert flag option), when it can't be updated later.

Example code:
[code]

After execution, `{ key: 'KEY', value: 'VALUE-1' }` will be printed. But valid result is `{ key: 'KEY', value: 'VALUE-2' }`

[2018-01-23 00:59] williamkapke commented on #46
`update` was not allowing updates without using `$set` unless it was an upsert :(

By integrating modifyjs (see #45), it corrected this. 🍻 Thanks for reporting this!

[2018-01-23 00:59] #46 closed

[2018-01-23 01:01] williamkapke commented on #45
I have integrated modifyjs 🎉

I felt this was semver major worthy so v3.0.0 has been published.

[2018-01-23 01:01] #45 closed

[2018-01-23 01:58] benjamine commented on #45
oh that's amazing!! thank you both! 🎆

[2018-01-23 07:25] lgandecki commented on #45
Very cool! :)
I realize that I have discrepant licenses now in package.json and LICENSE.md.. not sure if updating the package.json is worth the noise on npm (bumping a version) and github? Those licenses are pretty much compatible anyway

As for the asyncishness - I get it. Makes sense. I actually recently stumbled upon a problem where my integration tests (using tingodb) passed by e2e (with real

[2018-01-23 09:20] execfera opened #47 "$push ObjectID into array returns ObjectID(undefined)"
First off, thank you for this amazing work, might consider contributing. The issue I'd like to report is that, for some reason, when using $push to insert an ObjectID into an array, the resulting ObjectID that is inserted is undefined.

Reproduction code, using the last 3.0.0 release:

[code]

Thanks for your time!

[2018-01-23 09:31] lspliner opened #48 "mocha does not exit after closing connection to mock mongodb"
On line # 162 of db.js there is a call to setTimeout that is supposed to keep hosting process running until at least one connection is open .

[code]

In order to let process exit when connections are closed there is a corresponding line # 26 at db.js

[code]

But setTimeout is called twice when I run MongoClient.connect. So one of two timers stays scheduled and mocka keeps running after closing c

[2018-01-23 09:35] lspliner commented on #48
Debug output. Highlighted are lines corresponding to opening and closing connections.

Tue, 23 Jan 2018 09:31:34 GMT mongo-mock:mongo_client connecting 127.0.0.1:27017/calculator
Tue, 23 Jan 2018 09:31:34 GMT mongo-mock:collection initializing instance of `system.namespaces` with 1 documents
Tue, 23 Jan 2018 09:31:34 GMT mongo-mock:collection initializing instance of `system.indexes` with 0 docume

[2018-01-23 10:16] #48 closed

[2018-01-23 10:16] lspliner commented on #48
Sorry, it was my fault.

[2018-02-06 17:59] yaplas opened #52 "Missing DBRef constructor"
I use mongo-mock and its awesome, the only thing that I had to add it is the db reference constructor that in mongo db is at the same level of the ObjectId constructor, I just wrote this code:

[code]
Maybe you can just add it.
Thank you, great job!!

[2018-02-23 23:30] #47 closed

[2018-02-24 05:35] williamkapke commented on #52
I haven't gone down the DBRef route before- so I'm not too knowledgeable on it. I'm guessing the code you have just silences errors about it?

I'll need to rely on a PR from someone that knows more about it. I'll mark this as Help Wanted.

[2018-02-24 12:49] Root-Core commented on #38
I will provide a mongoose driver for mongo-mock as soon as `3.1.0` has landed - as it contains necessary changes - and i cleaned up / tested some things. To be honest, not everything does work as mongo-mock is missing features here and there.. but in a lot of cases, it will be adequate. I'm just a bit short on time right now..

[2018-02-24 18:22] ksmithut commented on #38
No worries :) Thank you for all your hard work on this.

[2018-02-26 04:38] williamkapke commented on #38
@Root-Core I just published `3.1.0`!

[2018-04-10 15:16] yaplas commented on #45
Hi !!,
Im trying the updateOne with the `$set` and seems like it is doing a "deep merge" but real mongo db does a "shallow merge".
<img width="669" alt="2018-04-10_1210" src="https://user-images.githubusercontent.com/2750777/38565861-c307eca0-3cb8-11e8-81b9-31e1fd063877.png">

the result shoud be just: `{value: {c: 2}}`

[2018-04-10 15:26] lgandecki commented on #45
@yaplas interesting! it would be fantastic if you could create a PR with a failing test here https://github.com/lgandecki/modifyjs

[2018-04-10 15:56] yaplas commented on #45
@lgandecki seems the issue is not in modifyjs is in the mongo-mock code, because they are doing a lodash merge after calling modifyjs

[2018-04-16 20:54] yaplas opened #55 "Deep merge on updateOne"
When you update an item the expected result is a shallow merge but it is doing a deep merge:
<img width="669" alt="2018-04-10_1210" src="https://user-images.githubusercontent.com/2750777/38834440-e309f814-419e-11e8-94f3-4c3bee3995e4.png">

Expected result is just {value: {c: 2}}

I think the issue is in this line:
https://github.com/williamkapke/mongo-mock/blob/master/lib/collection.js#L436
Instea

[2018-04-30 13:49] meijin007 opened #57 "How to mock reject behavior?"

[2018-05-29 06:06] wjagodfrey commented on #45
This is still not working in the latest version
[code]
This request does nothing, though it works well against `Mongo@3.6.4`

[code]

[2018-05-29 06:42] wjagodfrey commented on #45
I thought this may have been to do with a defective test on `modofyjs`, but I've fixed the test locally and it works.
https://github.com/lgandecki/modifyjs/pull/2

[2018-05-29 06:43] lgandecki commented on #45
Yeah, as @yaplas demonstrated above it looks like it works properly on modifyjs side. What an unusual coincidence that the test for that particular operation was incorrect itself! :) Thanks for catching and for the PR.

[2018-05-30 02:37] wjagodfrey commented on #45
The issue occurs only for deep values. It's caused by these lines
https://github.com/williamkapke/mongo-mock/blob/master/lib/collection.js#L433-L435

I've opened a PR here: https://github.com/williamkapke/mongo-mock/pull/58

[2018-05-30 02:42] wjagodfrey opened #59 ""interface is a reserved word in strict mode""
Getting a strict mode error when checked out locally:

`interface is a reserved word in strict mode`

Happy to open a PR for this if someone can give me a better alternative.

[2018-06-07 20:38] seanspradlin opened #61 "Cursor needs .map function"
http://mongodb.github.io/node-mongodb-native/3.0/api/Cursor.html#map

Official mongo driver has a server-side map function that executes off of the cursor. Behaves like a map usually would.

[2018-06-11 04:18] williamkapke commented on #45
yeah- nothing wrong with `modifyjs`. This lib needs to mutate the objects in the underlying collections- but `modifyjs` only returns copies (per the intended design). Maybe @lgandecki will find a need to have a mutate feature someday ;)

`$unset` is working with dot notation now. Thanks everyone!

[2018-06-11 05:04] williamkapke commented on #59
I've seen others use `iface`. Feel free to pick something- PR very welcome. 👍

[2018-06-15 18:07] AngefloMusic opened #64 "Add support for transfroms within the readStreams"

[2018-06-19 20:59] AngefloMusic commented on #64
@williamkapke would you be open to merging a feature like this?

[2018-06-23 16:05] iliakan commented on #38
So mongoose 5 works well with it now?

[2018-06-23 19:59] iliakan commented on #38
No it doesn't, needs 'connection.js'

[2018-06-26 15:32] AngefloMusic commented on #55
I have added support for deep merge in my PR

[2018-07-10 17:29] AngefloMusic commented on #61
This should be closed

[2018-07-16 10:48] smeijer opened #68 "v3.3.0 isn't published on NPM"
Would be nice if you could publish the latest version to NPM. I'm currently unable to use `mongo-mock`, due to receiving a lodash version conflict / error:

[code]

This ain't a problem in the latest version.

[2018-07-27 17:51] jbustamovej opened #69 "doesn't work from jest"
Any idea why the mocks aren't working in jest (latest version 23.x)? Code works fine outside of jest

[code]

Never logs "connected" to console.

[2018-08-06 16:30] #61 closed

[2018-08-06 16:36] seanspradlin opened #70 "Cursor needs .pipe method"
Cursor implements readable stream and can be piped.

See: http://mongodb.github.io/node-mongodb-native/2.0/api/Cursor.html#pipe

[2018-08-09 18:54] AngefloMusic opened #71 "A lack of mantanience on this project"
I've had some pending PR's for the last two months with no input, it's completely understandable if you're too busy @williamkapke as acting representation on the Node.js Board of Directors.

I'm opening this as a discussion as to whether to move the project forward and continue to add features, I should branch it, or instead have more people added to this project as moderators, that have the time

[2018-08-09 19:29] Pidid commented on #71
@AngefloMusic thank you for opening this! I am in the same boat as you.

I have had a pending PR for about a month, as well as some other changes on my fork that I haven't yet made PR's for (due to the lack of activity with maintenance here). This project has been of great use to me, my friends, and my coworkers. I would love to see this project eventually fully mock the mongodb API and I would al

[2018-08-09 19:55] AngefloMusic commented on #71
@Pidid Same here! We use it for our automated testing suite, and I've added several features/fixed the way they performed, to be fully featured, and with 4.0 supporting ACID, I'd like to continue adding more features.

[2018-08-09 20:35] williamkapke commented on #71
Hey folks. Guilty as charged.

A few months back, I recognize that I was not going to be available much of the summer with personal things. Indeed- the free time I have is committed to my work on the Node.js Board.

I reached out to a few folks looking for help - but, understandably, they were already too overloaded with other tasks.

This is FANTASTIC news to hear you're using it and found it hel

[2018-08-09 21:05] Pidid commented on #71
Glad for the response! You sound pretty busy, so the lack of activity is understandable. I am totally interested in becoming a collaborator.

Sounds like @AngefloMusic and I would make getting the minimum 2 collaborators easy ;). We don't work together, both want to see this project move forward, and both of us seem to try to mimic mongodb as closely as possible in our PR's. In fact, my Bulk Opera

[2018-08-10 16:08] AngefloMusic commented on #71
@williamkapke Thank you for such a prompt and detailed response! I'm 100% interested in becoming a collaborator, I agree with all of these milestones, and want to get as close to real mongo as possible to create a seamless testing experience! It is true @Pidid do not know each other beyond both wanting to see this project moving forward be successful! I'd also like to implement more BulkOperations

[2018-08-10 16:16] pludov commented on #55
@AngefloMusic: I reproduce the issue, even using the branch of your PR. (You're correction seems to target upsert only indeed.)

The fix to replace merge with assign seems ok to me - I created a PR: https://github.com/williamkapke/mongo-mock/pull/72

[2018-08-10 20:01] Pidid commented on #71
@williamkapke Yeah my email is just on my github as well 👍.

[2018-08-10 21:10] williamkapke commented on #71
Ok. You are both Collaborators now!

Please be open to:
- inviting more people
- setting standards
- Improving the readme/coding standards/etc...
  - Add a Collaborators section?
  - Give props to the great projects that do some pretty heavy lifting for us:
    - @crcn's [sift.js](https://github.com/crcn/sift.js)
    - @lgandecki's [modifyjs](https://github.com/lgandecki/modifyjs)

[2018-08-10 21:17] williamkapke opened #73 "Circle CI failing + needs update"
The build is failing on the use of `const`. It must be testing with an old version of Node.

Additionally, it seems the version of CircleCI it uses is being sunset in ~30 days! It looks like the code might need some minor tweaks to upgrade it.

[2018-08-10 21:19] williamkapke commented on #73
Gah. Ok- ignore. I switch this to travis, the outdated version listed on NPM (https://www.npmjs.com/package/mongo-mock) is still shows CircleCI and fooled me in to thinking I didn't fix this.

[2018-08-10 21:19] #73 closed

[2018-08-12 17:19] angelo-hub opened #74 "Merge Policy"
Before we merge any of these new PRs with our new maintainers and get this project going, I'd like to implement a branching release strategy like gitflow into this project, I'd like to have feature branches for release tags to keep our semversion-ing in place with more maintainers coming on board, and feature build outs.

For example: I think bulkOps #67  and #63 should be held off and included in

[2018-08-12 17:41] Pidid commented on #74
@AngefloMusic Yeah I think this makes a lot of sense, and really like the idea of using gitflow. And just so I understand correctly, are you saying that our feature branches would be like "v3.4.0" and any major feature pertaining to 3.4.0 will be committed to "v3.4.0"? So if we were following this pattern from the start, bulkOps #67 and #63 would be PR's under the "v3.4.0" branch instead of master

[2018-08-12 18:10] AngefloMusic commented on #74
@Pidid Yes exactly my point, I just didn't want to start doing it without a discussion within the maintainers

[2018-08-12 18:30] Pidid commented on #74
@AngefloMusic Yeah for sure! Well I'll start following this pattern and I am assuming to make pull requests to "v3.4.0" for any features moving forward. Should we make a contributor guide that details stuff like this merging policy?

[2018-08-13 02:50] AngefloMusic commented on #74
Yeah we should, i’ll start writing a contributor guide

[2018-08-13 14:48] AngefloMusic commented on #38
@iliakan Can you link an example project putting Mongo-mock in place of the `mongodb` package for mongoose?

[2018-08-13 17:01] AngefloMusic commented on #57
Can you add more description around this? Maybe an example of an expected input and output, or else I feel like this should be closed.

[2018-08-13 17:02] AngefloMusic commented on #8
I think this could finally be closed with the addition of BulkOperations support in #67 !

[2018-08-14 19:11] Pidid commented on #70
@seanspradlin Is this something you would be interested in writing? If not, I'll take a look at it.

[2018-08-14 19:17] Pidid commented on #8
@AngefloMusic Agreed. I'll close this for now.

[2018-08-14 19:17] #8 closed

[2018-08-15 19:28] pstromberg98 opened #76 "Implement "db.collection.aggregate""
The collection aggregate function needs implementing and is a pretty big feature. I am creating this issue to discuss implementation and to possibly split work amongst a couple of other contributors. I will start on implementation and continually add posts on any updates when appropriate.

Mongo Reference: https://docs.mongodb.com/manual/reference/method/db.collection.aggregate/

[2018-08-16 01:39] seanspradlin commented on #70
I may take a shot at it if I have time this week

[2018-08-16 14:47] AngefloMusic commented on #76
I'd be interested in working on this, but let me get a contribution guide up today first, this is a good example of where we'll need a feature branch to merge into, since several people can work on this in parallel.

[2018-08-16 15:28] Pidid commented on #76
Sounds good. Yeah the merge policy is going to work well for this project!

[2018-08-24 15:28] AngefloMusic commented on #71
Going to officially close this now the ball is rolling! 😄

[2018-08-24 15:30] #71 closed

[2018-08-24 15:31] AngefloMusic commented on #69
Not completely familiar with jest but I can look into it today

[2018-08-24 15:32] AngefloMusic commented on #59
@wjagodfrey if this is still an issue there's a refactor coming down the pipeline that I could tackle this in.

[2018-08-24 15:33] AngefloMusic opened #78 "We have no linting strategy"
We should use eslint and have a linting policy, I prefer airbnb base but I understand if that's too strict, we should try to support node 8 and above

[2018-08-24 15:33] lgandecki commented on #69
Try:

[code]

In other words, there is no reason for jest to wait for the mongoclient.connect callback - it runs it and finishes that test run. You have to use await/return a promise from a test/use the done callback

[2018-08-24 15:34] AngefloMusic commented on #55
v3.3.1 fixed this :)

[2018-08-24 15:34] #55 closed

[2018-08-24 16:08] AngefloMusic commented on #76
Let's make a feature checklist for aggregation, these below from my experience are the most used of the aggregation commands:

- [ ] $match
- [ ] $project
- [ ] $group
- [ ] $unwind
- [ ] $sort
- [ ] $limit
- [ ] $count
- [ ] $lookup

[2018-08-31 04:26] Pidid commented on #59
@AngefloMusic I think we should use `iface` as the naming standard instead of `interface`. If you agree then I'll go through and refactor, then close this issue.

[2018-08-31 15:31] AngefloMusic commented on #59
I agree, I'll put something in now

[2018-09-04 19:03] Pidid commented on #59
#82 fixes this. `iface` is now the standard

[2018-09-04 19:03] #59 closed

[2018-11-06 16:46] pludov opened #85 "Unable to insert with _id=0"
Trying to insert a row with _id=0 or _id="" will result in a row with an autogenerated _id.

This is different from mongo behavior which accepts those.

[2019-01-03 16:15] a-maggioni opened #90 "ObjectID(undefined) after update"
When you update a document, all the fields with type equal to ObjectID get messed up (except for the "_id" field).

**Sample code**
`const mongodb = require('mongo-mock');
const ObjectID = require('mongo-mock').ObjectID;

async function main() {
  const db = await mongodb.MongoClient.connect('mongodb://fake.db:1111/db');
  const collection = db.collection('collection');

  const _id = new ObjectID

[2019-01-11 19:35] AngefloMusic commented on #90
You're right the mock runs under the assumption that the only objectID is the `_id`, will fix the merge/update code to check for object type rather than just plucking `_id` by default.

[2019-03-11 15:06] glassdimly opened #92 "TypeError: Cannot read property 'replace' of null (MongoClient.connect)"
This is our code that we were using to connect to the mongo-mock, which works find in mongodb:

[code]
The problem was that mongo was depending on us passing in a dbname as the path parameter of the URL:
[code]
...We were not passing in dbname.

The workaround was this:

[code]

...That is, I needed to send the db in as a string.

[2019-03-18 01:24] Downchuck commented on #38
This has been a really helpful project to me; seems like global. MONGOOSE_DRIVER_PATH / mongoose.driver.set() compatibility would be a help for these mongoose cases.

[2019-03-18 03:32] Downchuck opened #93 "lib/collection.js fields sniff fails on limit 1"
This logic will fail when `{ limit: 1, fields: undefined }` because well, that's what it'll do.
Suggest checking for  `!(fields in args)`.

lib/collection.js
[code]

[2019-03-18 03:38] Downchuck commented on #93
I'm pressed for time; here's the fix - note options.fields is set to args[1] earlier in the code, so it needs that else statement in as well, thus the if, else if, else.

[code]

[2019-03-19 04:43] Downchuck opened #94 "Persist and load"
Lost some time before understanding that persist="file" needs load("file"); I suggest a unified function that covers both with appropriate toggles. store("json.file"), store({read: "json.file", write: "json2.file"}) or something of that nature.

As a folk who hasn't much mongo, this library has been so helpful to me. Thanks to all contributors!

[2019-03-19 18:25] Downchuck commented on #69
Confirmed this works fine in jest.

[2019-03-19 18:26] Downchuck commented on #31
I'd see these working with the MongoDB typings, using extends and such.

[2019-03-29 00:32] cscetbon opened #95 "ObjectID differ between mongodb and mongo-mock"
I'm testing some code that uses mongodb to find/update/delete objects looking them up by their _id. However as the tested code uses `require('mongodb').ObjectID` and mongo-mock uses a different version of it, the tested code can't find the objects. This is really annoying ...

[2019-04-05 23:07] cscetbon commented on #11
@williamkapke, @shaunburdick the order will null values is not the same as with mongo which causes issues when testing it.

**mongo**

[code]

**mongo-mock**
[code]

[2019-04-06 14:02] shaunburdick commented on #11
Ah bummer! Yes please.

[2019-04-07 22:31] cscetbon opened #96 "Wrong sort of null values"
https://github.com/williamkapke/mongo-mock/issues/11 was implemented but there is a difference when null values are sorted and it causes issues when testing it.

**mongo**

[code]

**mongo-mock**
[code]

[2019-04-07 22:32] cscetbon commented on #11
done @shaunburdick ^

[2019-04-14 20:27] Downchuck commented on #95
Noticing for myself that overriding ObjectID would be valuable in that I could make it deterministic for snapshots.  This ObjectID is `bson-objectid`, in mongodb it is `mongodb-core.BSON.ObjectID`;

[2019-04-20 15:11] shaunburdick commented on #96
I opened #97 to try and resolve this. There are some interesting rules on how MongoDB sorts things and I am not sure we can implement them all. For now I added type based sorting which should resolve your issue. If I read it right, missing fields are considered equivalent to `null` when it comes to sort.
`null` is sorted before `number` so this _should_ work.

[2019-04-27 11:48] Pavel-Durov opened #99 "find/findOne by id doesn't return records"
`mongo-mock` find function behaves differently from `mongodb` when calling find by id.
It's hard to mock the `mongodb` using `mongo-mock` if it behaves differently :)

Example:
[code]

Official `find` doc:
https://docs.mongodb.com/manual/reference/method/db.collection.find/

Code sample: [mongo-mock-getById.zip](https://github.com/williamkapke/mongo-mock/files/3123840/mongo-mock-getById.zip)

node

[2019-05-14 13:17] ashantyk opened #100 "collection.countDocuments is undefined"
recent versions of the mongodb driver have deprecated the collection.count() method in favor of collection.countDocuments() and collection.estimatedDocumentCount().

trying mock modern apps that use the collection.countDocuments() method end up throwing 'countDocuments is undefined' errors.

[2019-05-14 15:26] #96 closed

[2019-05-14 17:37] ashantyk commented on #100
https://github.com/williamkapke/mongo-mock/pull/102

[2019-05-14 18:26] williamkapke commented on #99
Good finds.

- I updated `bson-objectid` which removes the `inspect` warning.
- I corrected the `find_options` helper to handle being passed an ObjectID.

Output from your script above:
[code]

Output using a read Mongo DB and the `mongodb` lib:
[code]

[2019-05-14 18:40] #99 closed

[2019-05-14 19:00] williamkapke commented on #100
Awesome THanks! Merged

[2019-05-14 19:00] #100 closed

[2019-05-14 21:35] gabmontes opened #105 "deleteMany does not properly manage promises"
If the `callback` parameter is not set when calling `deleteMany`, the function does not return a promise.

The issue is the check for `callback` is done inside the callback for `cursor()` instead of doing so at `deleteMany` function level.

[2019-05-22 18:54] Downchuck opened #106 "findOneAndUpdate with returnNewDocument should be atomic"
Using findOneAndUpdate with returnNewDocument may return the current version of a document as updated by another call - it should return the document as modified by the current request.

We noticed this using $inc of 1 for a sequence. Sometimes it would return the same value, as the returnNewDocument is likely waiting till the next event loop.

So this presently breaks the ability to mock auto inc

[2019-05-23 18:46] Downchuck opened #107 "modify should catch the ModifyJsError and return an empty row"
Currently if there is a filter on findOneAndUpdate and returning a document there is no matching row the modify function does not catch an error for asyncish.

`ModifyJsError: cannot use the part 'colName' to traverse undefined`

This should have instead returned an empty row for the update.

[2019-05-27 10:00] Pavel-Durov commented on #106
@Downchuck can you paste a code sample? I'm having some issues with `findOneAndUpdate` as well, just want to see if it's the same :)

[2019-05-27 10:19] Pavel-Durov opened #108 "bug: findOneAndUpdate throws ModifyJsError error if no records found for given filter"
I tried to mock one of my `findOneAndUpdate` queries that are working on my mongodb instance, and I've encountered this `ModifyJsError` error...
Expected result:
If no records were found by filter object, the result of `findOneAndUpdate` function returns null;
Actual result:
`findOneAndUpdate` throws `ModifyJsError` error if no records were found by the filter object.

### Sample code:
[code]
###

[2019-06-02 22:56] Downchuck commented on #106
From the code-- it neither looks for the flag returnNewDocument nor does it run synchronously as it uses an async findOne. So I don't think it works at all in async /parallel usage.

[2019-06-14 14:44] rjmunhoz commented on #48
I hate to revive this, but @lspliner, could you provide details on how you solved this?
I'm having the same problem, and I don't get why it's being called twice

[2019-06-21 17:01] zardilior commented on #76
I can help if need be, is there anything I should now? I can do the basic match and group!!

[2019-06-21 17:05] zardilior commented on #74
@AngefloMusic lets also open a slack shouldn't we for contributors etc!!

[2019-06-25 00:22] zardilior commented on #105
Yes it does not :(

[2019-06-25 14:39] shaunburdick commented on #105
#109 for your review. 😉

[2019-06-27 01:16] zardilior commented on #105
@shaunburdick I ll be testing now with my code :D

[2019-08-09 05:38] mt-sebastien-robert commented on #57
If this is a way to simulate failure, I agree having this would be awesome. Something to have commands (`findOne`, `updateMany`, etc...) to fail and throw, to ensure error handling is properly implemented.

@meijin007 Could you confirm this is what you were referring to ? Thanks.

[2019-08-09 06:06] meijin007 commented on #57
Yes, this is what I was referring to

[2019-08-28 00:55] mt-sebastien-robert commented on #57
@williamkapke
Any update or any thought on that ?
Thanks.

[2019-09-02 03:20] mt-sebastien-robert commented on #57
A very simple approach could be a way to set a flag that would make all request throw, like in case of network error, or DB process down.

Different flags could be used to throw different kind of errors, again, network, data corruption or else, sorry I'm familiar with all MongoDB errors, the most I know are network errors.

The goal is to test what happens when my code can connect, but then at a r

[2019-09-02 05:02] mt-sebastien-robert commented on #57
Thank you for pointing proxyquire by the way, but I don't think it's going to help in this scenario. This failure simulation feature needs to come from within I believe.

[2019-10-04 21:54] kirkoman commented on #105
Here is one random person voting for this fix to be merged.

[2019-10-04 22:00] shaunburdick commented on #105
I can merge it but I can't cut a release, so I guess technically your vote is my command ;-)

[2019-10-04 22:00] #105 closed

[2019-11-15 07:22] mt-sebastien-robert opened #113 "findOneAndUpdate with $and"
I'm using mongo-mock version 3.8.1 and I run this query:
[code]

This works perfectly with a real MongoDB 3.6, but fails with mongo-mock. I run this with Jest (unit test) and get the following:

[code]

The thing is, I cannot catch it. When I log before and after await, I see the log before but not the one after, so I assume the promise returned never resolves nor rejects.

If it can help you to i

[2019-11-20 08:02] TanukiSharp opened #116 "Uncatchable throws"
Using version `3.8.1` of `mongo-mock`, and in some circumstances, when a function throws, it is uncatchable. Hereafter is a repro, in which I actually added 2 tests because I think they are kind of related.

**package.json**
[code]

**index.js**
[code]

Then, uncomment either `testHangingCallback`, `testHangingAsync` or `testUncatchableThrow` and run it.

## testHanging*

### Expected result:

[co

[2019-11-20 08:22] TanukiSharp commented on #116
I cannot reproduce the real problem I wanted to report, but the tests described in the previous post are very related.

Another test you can run to see:
[code]

Here is the console out:
[code]
And the program hangs forever.

The async version:

[code]

The output is as follow:
[code]
And the program hangs.

In another circumstance I can't really reproduce, the second await was throwing an exceptio

[2019-11-26 23:19] TanukiSharp commented on #116
Any news ? @williamkapke

[2019-12-02 17:44] williamkapke opened #118 "Add @TanukiSharp as Collaborator?"
@TanukiSharp Thanks for the work you've put in- any interest in being a collaborator?
(see #71)

[2020-01-13 04:55] davidjytang commented on #116
I also encountered `E11000 duplicate key error index` error when making a new MongoClient after closing a old MongoClient using the same connection string.

Once I change the port number in the connection string, the duplicate key error disappears.

[2020-01-20 22:12] purefan opened #120 "Mixed projections types not allowed"
Hey guys!

Loving the project, it allows me to really test my express app from a mocha testsuite but today I ran into an issue when I was refactoring, this query:
[code]

works against a normal mongo database, but in mongo-mock it fails with:

Is it something Im doing wrong?

[2020-01-22 06:01] williamkapke commented on #120
The 2nd parameter is a projection (an object that says which fields to return). Your query's 2nd parameter tries to sort ... mongo-mock is getting confused with it.

I suspect real mongo isn't sorting and is just ignoring it..? not sure.

[2020-02-06 17:12] NitroBAY commented on #105
Wait why you can't "cut the release" ?
"your vote is my command" ? I vote to release if it's what you asking for. This is a pretty critical issue that took me a lot of time to debug.

[2020-02-06 21:56] williamkapke commented on #105
@shaunburdick you should be able to `npm publish`. I just double checked and you Do have write access to NPM. I really want to make sure there is publish redundancy. (Ya know- that "Bus" factor thing)

Can you give it a try? Looks like the version number needs a bump.

[2020-02-07 03:15] ronkorving commented on #105
There are a few more open PRs that were approved but not merged. Please consider :)

[2020-02-07 03:56] shaunburdick commented on #105
Yeah, I'll give it a shot tomorrow. Review the prs, bump the version and release. I didn't realize I had npm access

[2020-02-07 16:41] #113 closed

[2020-02-07 17:04] shaunburdick commented on #105
v3.9.0 should be out the door

[2020-02-07 17:08] williamkapke commented on #105
Awesome! Thank you 😊

[2020-02-24 09:18] purefan commented on #120
I changed the way I was querying based on your feedback and it works now, I havent confirmed that mongo wasnt sorting but I expected an error from mongo, it just never came and I thought my code was fine.

Thanks for your feedback! loving the project <3

[2020-02-24 09:18] #120 closed

[2020-02-25 17:09] VikasChandrashekar commented on #76
I can help if you still need any help with this

[2020-02-26 13:50] zardilior commented on #76
Guess we should just go ahead and do the PR

[2020-03-07 03:17] TanukiSharp commented on #107
I ran into this issue and found out the problem. It is fixable from `mongo-mock`, whereas indeed `modifyjs` could be more resilient.

At line https://github.com/williamkapke/mongo-mock/blob/master/lib/collection.js#L447, when there is no documents matched (`docs` is an empty array), the expression `!docs.length` is `true`, but if `options.upsert` is set to `false`, then it goes to the else, here:

[2020-03-09 00:27] TanukiSharp commented on #108
Can this be a duplicate of https://github.com/williamkapke/mongo-mock/issues/107 ?

[2020-03-09 01:04] TanukiSharp opened #122 "Exists operator issue with old sift"
I'm currently encountering an issue with the `$exists` operator when a property value is `null`. After researching, I found this https://github.com/crcn/sift.js/issues/146 which is exactly what I'm facing.

The version of sift used seems to be antique (v3.1.1 as I'm writing), could it be updated to a later one ? At least v8+.

Thanks.

[2020-03-09 02:08] TanukiSharp commented on #122
After researching, it is not possible to upgrade `sift` to a version that contains the fix needed.
However, I found out it is possible to override operators via `sift.use(...)`.

I prototyped a fix and it seems to be working, but I would like to perform more tests before opening a PR.

[2020-03-12 03:36] #107 closed

[2020-03-15 23:41] TanukiSharp commented on #122
Closing this as #123 fixes it.

[2020-03-15 23:41] #122 closed

[2020-03-24 13:13] ykit9 opened #125 "bug: $setOnInsert operator Date type support"
When using $setOnInsert operator while trying to upsert document containing Date type as a field - empty object is assigned to a field instead.

The problem lays at the `lib/collection.js` `upsertClone` function - `objectAssignDeep` is used to make a copy of inserted data but `object-assign-deep` does not support copying of Date objects.

[2020-04-23 09:05] grmmph commented on #48
I have the same issue

[2020-04-23 09:57] grmmph commented on #48
https://github.com/williamkapke/mongo-mock/pull/127

[2020-04-23 12:25] shaunburdick commented on #48
You need to make sure you call the `close()` function.

[2020-05-31 09:34] nasht00 opened #128 "Client close"
When calling `await client.close();`, the process still hangs.

When using a real mongo connection, the process is destroyed.

I can see this by running mocha tests that do not terminate when using the mock.

[2020-06-01 19:41] shaunburdick commented on #128
What does your setup and teardown look like?
Could you post an example of a test not terminating?

[2020-06-03 15:38] nasht00 commented on #128
I ended up using `mongodb-memory-server`, so it will be harder for me to debug this now.

I was doing

[code]
At the start, then calling `await client.close()` at the end of each transaction.

[2020-06-08 15:28] pilvikala opened #129 "ECMAScript 6 support?"
Hi, after a few quick tests, it looks like the ES6 way of using the mongo-mock is not supported yet. Did I get this right?

I am using the official mongodb driver the ES6 way, i.e. calling queries like this:

[code]
Is this going to be supported? Is there a workaround if I want to test this code using this mock?

[2020-07-03 10:51] DeekshaPandit commented on #76
Any update on this? Can I help?

[2020-11-03 20:02] beamery-tomht opened #133 "find_options can't handle `undefined` as last arg"
I'm working with a wrapper around our connection to mongo. It will always call:

[code]
for a given collection method.

When `queryOptions` is undefined, the `find_options.js` will see a signature of `object,undefined` and throw an error. This can easily be interpreted as a signature of just `object`...

Can you fix `find_options` to strip the trailing `undefined` please and not throw in these sce

[2020-12-05 16:38] cprhokie commented on #133
created a pull request for this issue

[2021-01-12 09:41] giovanni-bertoncelli opened #137 "Way to flush entire database"
Hi,
I was wondering if there was a way to flush the mock database without restarting everything. I need this to run each test clean.

[2021-01-19 04:59] sagargadekar601 opened #138 "getting error "result is not iterable" while iterating result of ".find() of mocked data"
I am using document db with node.js and working on unit tests the "get" request.
I have mocked the data using mongo-mock (version 4.0.0). Added a jest unit test for the "get" request in node.js.

I could mock the data db data correctly (referred the [demo example](https://www.npmjs.com/package/mongo-mock) of npm mongo-mock) but while fetching the data with .find() it is giving an error which says

[2021-01-20 05:19] sagargadekar601 commented on #138
Can someone comment on this please?

[2021-01-20 14:08] shaunburdick commented on #138
@sagargadekar601 Please understand that (like most open source libraries) this is written by volunteers on their free time. Issues are meant to raise possible problems with the library, not to demand support in your individual use case.
I was planning on taking a look this weekend when I have some free time, but seeing as you are new and under an apparent time crunch I'll point you in the right di

[2021-01-28 19:21] sagargadekar601 opened #139 "jest is not terminating, giving error when used jest with mongo-mock"
I am getting below error when I run 'npm run test' :
---------------------------------------------------------------------------------
"Jest did not exit one second after the test run has completed.

This usually means that there are asynchronous operations that weren't stopped in your tests. Consider running Jest with `--detectOpenHandles` to troubleshoot this issue."
----------------------------

[2021-03-01 10:02] LinusU opened #144 "Updating a sub-document with ObjectId drops ObjectId content"
The following code:

[code]

Results in this printout:

[code]

Note that `currentState._id` is `ObjectID(undefined)`

[2021-03-01 10:11] LinusU commented on #144
I've tracked down the problem to somewhere inside the [`modifyjs` dependency](https://github.com/lgandecki/modifyjs#readme):

[code]

[code]

[2021-03-01 10:33] LinusU commented on #144
Okay, the problem is that `bson-objectid` `ObjectId` loses their internal data when they are [`clone`](https://github.com/pvorb/clone)d. This doesn't seem to be a problem with `ObjectId` from the official [`bson` package](https://www.npmjs.com/package/bson).

[2021-03-24 16:33] beamery-tomht commented on #139
I have exactly the same issue.

My tests are hanging and if I log the steps I can see that the `beforeEach` block isn't respecting your "async" code.

[code]

Also with async, same behaviour

[code]

Seems like some internal promise hacking is conflicting with jest.

[2021-03-26 17:03] beamery-tomht commented on #133
Thanks, still waiting for this https://github.com/williamkapke/mongo-mock/pull/141

[2021-08-09 13:25] LinusU opened #149 "Adding on a new maintainer"
Hello @williamkapke,

I currently have quite a few open pull requests, and are maintaining my own fork which have all of those merged in. It would be great to be able to get these in upstream so that everyone can benefit from the same codebase.

Would you be open to adding me on as a maintainer? I'm [`linusu` on Npm](https://www.npmjs.com/~linusu)

[2021-08-09 14:52] williamkapke commented on #149
👍

Great! I sent you an Invite. Thanks for your contributions- I'm very glad you have you help out.

Please check out:
https://github.com/williamkapke/mongo-mock/issues/71#issuecomment-412207494

[2021-08-09 16:32] LinusU commented on #149
Awesome, thank for the quick invite!

I've accepted the Github invite, and will read thru #71 as well 👍

[2021-08-09 18:26] williamkapke commented on #149
Just added you on NPM. You should be all set!

[2021-08-09 18:26] #149 closed

[2021-08-12 13:49] LinusU commented on #133
This is fixed in [🚢 4.1.0 / 2021-08-12](https://github.com/williamkapke/mongo-mock/releases/tag/v4.1.0)

[2021-08-12 13:49] #133 closed

[2021-08-15 07:56] gustavohenke commented on #38
It would have been possible to use this module with mongoose... but mongoose disallows classes that don't match the `mongodb` module.

E.g. this

[code]

throws this:

[2021-08-16 13:43] LinusU commented on #38
This is what we are currently doing in our tests, to be able to use [albatross](https://github.com/LinusU/node-albatross) with mongo-mock:

[code]

I imagine it should work for Mongoose as well...

[2021-08-17 17:09] #69 closed

[2021-08-17 17:13] LinusU opened #150 "Add entry point that mocks global MongoDB"
Currently we are using something like this to test our API with a mocked version of MongoDB, without having to specifically having to code the app to know anything about Mongo Mock:

[code]

I think that it could be a benefit to add this as an entry point to this package, the same way that e.g. [dotenv/config works](https://github.com/motdotla/dotenv#preload). Providing this instead of letting eve

[2021-11-24 19:00] danmilgram commented on #76
Hello, any updates?

[2022-02-16 07:39] sinclairzx81 opened #152 "updateOne(..., { upsert: true}) Cannot locate upserted record."
Hi, thanks for this library, it is very useful. I may have stumbled across a small issue with `upsert` and subsequent matching on Mongo identifiers. A repro of the issue is below.

[code]
I can confirm the record is being written with this subsequent repro, however unsure about the encoding used to express the identifier, or why this is failing to match.
[code]
Running comparative tests against Mo

[2022-07-06 15:53] giovanni-bertoncelli commented on #152
I have the same issue, the `_id` returned by searching for the upserted item is `null`.

[2022-10-18 03:27] #76 closed

[2022-10-19 20:58] angelo-hub opened #154 "Proposal: Update Readme docs to use promises"
Callbacks are no longer really used with mongo, would be best to replace the docs examples with promises

[2022-10-20 19:52] chengtangzheng2021 opened #155 "tested app unable to connect to mock db"
The line of  process.env.MONGO_URL = uri;  passing connection string to the tested app, in the below connection code, but the app using this connection url get connection refused.

const connect = async () => {
    var mongodb = require('mongo-mock');
    var uri = 'mongodb://localhost:27017/myproject';
    process.env.MONGO_URL = uri;
    process.env.MDB_NAME = 'PricerDB_EMEA';
    var MongoClien